body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color:white;
    color: #e74c3c;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

h1{
    text-align: center;

}

.text-input{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: 400px;
    resize:none;
    border-color: #e74c3c;
}


.text-output{   
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: 400px;
    resize:none;
    border-color: #e74c3c;
}

#esquerdo{
    height: 450px;
    width: 30%;
    display: inline-block;
}

.botões{
    display: inline-block;
    height: 450px;
    width: 23%;
    vertical-align: top;
    margin-left: 15%;
    align-items: center;
}

#direito{
    height: 450px;
    width: 30%;
    display: inline-block;
    
}

#rodapé{
    width: 100%;
}

#Linkedin{
    width: 60px;
    height: 50px;
    background: none;
    border: 0ch;
    cursor: pointer;
}

#Github{
    width: 60px;
    height: 50px;
    background: none;
    border: 0ch;
    cursor: pointer;
}

img{
    width: 40px;
    height: 40px;
}

#crédito{
    float: right;
    padding-right: 5%;
}

.encrypt-button{
    width: 150px;
    height: 40px;
    margin-top: 20px;
    box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  cursor: pointer;
  color: #e74c3c;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  font-size: 15px;
}
.encrypt-button:hover{
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #e74c3c inset;
}

.decrypt-button{
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  font-size: 15px;
}

.decrypt-button:hover{
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #e74c3c inset;
}

.copy-button{
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  font-size: 15px;
}

.copy-button:hover{
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #e74c3c inset;
}